.field input {
  /* width: 25%; */
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: 10px;
  padding-left: 5px;
}

.actions {
  padding: 15px 30px;
  width: 25%;
  margin: 15px auto;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.actions:hover {
  cursor: pointer;
}

.form-links {
  color: #00bfff;
  justify-content: center;
  display: flex;
}

.form-links a{
  margin-left: 10px;
}

.movie-list {
  justify-content: center;
  margin-top: 40px;
}

.movie-list p {
  margin-left: 30px;
  margin-top: 20px;
}

.schedule-title {
  font-size: 20px;
}

.schedule-select {
  color: #00bfff;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 2%;
}

.sheet-table, .sheet-table td, .sheet-table tr {
  border: 1px solid black;
  padding: 10px;
}

.sheet-font {
  color: #1e90ff;
}

.reservation-table {
  justify-content: center;
  display: flex
}

.reserved {
  background-color: #dcdcdc;
}

.reservation-table td,
.reservation-table tr,
.reservation-table td {
  border: 1px solid black;
  padding: 10px;
}

.reservation-table input {
  background-color: #dcdcdc;
  border-radius: 5px;
  padding-left: 5px;
}
